* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'LatoBlack';
  src: url('./fonts/lato-black.eot');
  /* IE9 Compat Modes */
  src: url('./fonts/lato-black?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/lato-black.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('./fonts/lato-black.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/lato-black.svg#svgFontName') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'LatoBold';
  src: url('./fonts/lato-bold.eot');
  /* IE9 Compat Modes */
  src: url('./fonts/lato-bold?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/lato-bold.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('./fonts/lato-bold.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/lato-bold.svg#svgFontName') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'LatoItalic';
  src: url('./fonts/lato-italic.eot');
  /* IE9 Compat Modes */
  src: url('./fonts/lato-italic?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/lato-italic.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('./fonts/lato-italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/lato-italic.svg#svgFontName') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'LatoBoldItalic';
  src: url('./fonts/lato-bolditalic.eot');
  /* IE9 Compat Modes */
  src: url('./fonts/lato-bolditalic?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/lato-bolditalic.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('./fonts/lato-bolditalic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/lato-bolditalic.svg#svgFontName') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'LatoLigth';
  src: url('./fonts/lato-ligth.eot');
  /* IE9 Compat Modes */
  src: url('./fonts/lato-ligth?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/lato-ligth.svg#svgFontName') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'LatoRegular';
  src: url('./fonts/lato-regular.eot');
  /* IE9 Compat Modes */
  src: url('./fonts/lato-regular?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/lato-regular.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('./fonts/lato-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/lato-regular.svg#svgFontName') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'LatoThin';
  src: url('./fonts/lato-regular.ttf') format('truetype')
    /* Safari, Android, iOS */
}

body {
  margin: 0;
  padding: 0;
  background-image: url(./assets/fondo.png);
  font-family: 'LatoThin', 'LatoRegular';
  position: relative;
  min-height: 100vh;
}

.topnav {
  overflow: hidden;
  background-color: #364795;
  position: relative;
  height: 5vh;
  display: flex;
  align-items: center;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  opacity: 0.9;
}

.topnav a:hover {
  color: white;
  opacity: 1;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav button {
  border: none;
  background: none;
  color: white;
  margin: 15px;
  opacity: 0.9;
  margin-left: auto;
}

.topnav #mobile-title {
  display: none;
}

.topnav .icon {
  display: none;
}

#playrandom-mobile {
  display: none;
}


#footer {
  height: 5vh;
  display: flex;
  background-color: beige;
  align-items: center;
  font-family: 'LatoThin', 'LatoLigth';
  position: absolute;
  bottom: 0;
  width: 100%;
}

#footer div {
  margin: 0 10px;
  opacity: 0.7;
}

#footer #playrandom {
  margin: auto;
}

#footer #comofunciona {
  display: none;
}

#footer #playrandom button {
  position: relative;
  background-color: #0000FF;
  border: none;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#playrandom button::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 6px;
  border: solid 8px transparent;
  border-left-color: white;
  border-left-width: 12px;
  left: 11px;
}

#mapa-svg {
  width: 100%;
  height: 89vh;
}

#map {
  position: relative;
}

#controls {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 45%;
  right: 30px;
}

#controls button {
  margin: 0px;
  padding: 10px;
  font-size: 2rem;
  border: none;
  margin: 1px;
}

#controls button:hover {
  background-color: #777;
}

.pin:hover {
  stroke: black;
}

#info-box {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding: 5px;
  max-width: 300px;
  font-family: arial;
}

#info-box .box {
  padding: 20px;
  position: relative;
  background: #0000FF;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  min-width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info-box #box-title {
  flex: 3;
  text-align: center;
}

#info-box #box-links {
  flex: 2;
  display: flex;
  flex-direction: column;
}

#info-box #box-links button {
  padding: 5px;
  background: none;
  border: none;
  color: rgba(250, 250, 250, 0.6)
}

#info-box .box:before {
  content: "";
  position: absolute;
  top: 150px;
  left: 110px;
  z-index: 1;
  border: solid 15px transparent;
  border-top-color: #0000FF;
  border-top-width: 70px;
}

#modal {
  position: absolute;
  background-color: black;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#modal #video-header {
  color: white;
  font-size: 50px;
  font-family: 'LatoThin';
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal #video-header div {
  display: flex;
  font-size: 1.5rem;
}
  
#modal #video-header img {
  margin-left: 30px;
  margin-right: auto;
  height: 80px;
}

#modal #video-header button {
  border: none;
  color: white;
  padding: 15px;
  font-family: 'LatoBold';
  font-size: 1.5rem;
}

#modal #video-header #btn-info {
  margin-left: auto;
  background-color: #0000FF;
}

#modal #video-header #btn-map {
  background-color: red;
  margin-right: 30px;
}

#modal #video-header span {
  margin: 0 20px;
}

#modal #video-header #titulo1 {
  text-align: right;
}

#modal #video-header #vertical {
  border-left: 2px solid white;
}

#close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
}

.hidden {
  display: none !important;
}

#video {
  display: flex;
}

#prev-video {
  flex: 1;
  display: flex;
}

#prev-video button {
  background: none;
  color: white;
  font-size: 100px;
  border: none;
}

#prev-video button::after {
  content: ' \2190';
}

#next-video {
  flex: 1;
  display: flex;
}

#next-video button {
  background: none;
  color: white;
  font-size: 100px;
  border: none;
}

#next-video button::after {
  content: ' \2192';
}

.wrapper {
  overflow: hidden;
  max-width: 100%;
  flex: 10;
}

.frame-container {
  position: relative;
  padding-bottom: 48.25%;
  width: 100%;
  top: -10%;
}

.frame-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}