@media screen and (max-width: 900px) {
  body {
    /* background: rgb(255,255,255) !important; */
    background: -moz-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 35%, rgba(230,230,230,1) 100%) !important;
    background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 35%, rgba(230,230,230,1) 100%) !important;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 35%, rgba(230,230,230,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e6e6e6",GradientType=1) !important;
  }

  div.topnav {
    height: 8vh;
  }

  .topnav a,
  .topnav button {
    display: none;
  }

  .topnav a.icon {
    display: flex;
    position: absolute;
    top: 0px;
    right: 5px;
    align-items: center;
    height: 100%;
  }

  .topnav #mobile-title {
    display: flex;
    margin: auto;
    text-align: center;
    color: white;
    height: 100%;
    align-items: center;
    font-size: 0.8rem;
  }

  .topnav #mobile-title h3 {
    text-align: center;
    color: white;
    padding: 0;
    flex: 1;
  }


  #controls {
    top: 20px;
    right: 15px !important;
    align-items: center;
    flex-direction: column;

  }

  #controls>button {
    padding: 5px;
    padding: 2px !important;
    font-size: 1rem !important;
    width: 25px;
    border: 1px solid #999;
    min-width: auto;

  }

  #controls img {
    width: 20px !important;
    height: 35px;
    position: absolute !important;
    right: -8px !important;
    top: -10px !important;
  }

  div#modal-comofunciona {
    left: 0;
    top: 30%;
    bottom: 9vh;
    overflow: scroll;
    border-bottom: 12vh solid #536DE1;
    z-index: 1;
    padding: 20px;
  }

  #playrandom-mobile {
    display: block;
    margin: 20px 10px;
  }

  #playrandom-mobile button {
    position: relative;
    background-color: #0000FF;
    border: none;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  #playrandom-mobile button::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 6px;
    border: solid 8px transparent;
    border-left-color: white;
    border-left-width: 12px;
    left: 11px;
  }

  div#footer {
    background-color: #516BE2 !important;
    justify-content: center;
    height: 8vh;
  }

  #footer div {
    display: none !important;
  }

  #footer #comofunciona {
    display: block !important;
  }

  #footer #comofunciona button {
    display: block !important;
    background: none;
    border: none;
    color: white;
    font-family: 'LatoBlack';
  }

  .topnav.responsive {
    position: absolute;
    width: 100%;
    z-index: 9;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .topnav.responsive #mobile-title {
    margin: 10px;
    height: 8vh;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive button {
    display: none;
  }

  div#info-box #box-links button {
    background: none;
    border: none;
    flex: 1;
    font-size: 0.7rem;
    color: rgba(250, 250, 250, 0.6);
  }

  div#info-box #box-links {
    flex: 3;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  div#info-box .box {
    padding: 0px;
    position: relative;
    background: #364795;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0;
    min-width: 250px;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
  }

  div#info-box {
    position: absolute;
    bottom: 8vh;
    left: auto !important;
    top: auto !important;
    z-index: 1;
    padding: 0;
    max-width: 100%;
    height: 8vh;
    width: 100%;
    font-family: arial;
    align-items: stretch;
  }

  div#info-box .box:before {
    display: none;
  }

  div#info-box #box-title {
    font-size: 0.7rem;
    margin: auto;
  }

  div#info-box #box-links div {
    margin: auto;
  }

  div#info-box #box-links div button {
    font-size: 0.6rem;
  }

  div#info-box #box-links div:first-child {
    background-color: #232E63;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
  }

  div#info-box #box-links div:last-child {
    background-color: #6D78A5;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
  }

  div#modal #video-header {
    position: absolute;
    top: 10vh;
    bottom: 0;
    display: flex;
    left: 0;
    right: 0;
  }

  div#modal #video-header img {
    margin: auto;
    margin-top: 0;
  }

  div#modal .closeModal {
    /* display: none; */
    position: absolute !important;
    bottom: 0;
    left: auto;
    top: auto;
    right: auto;
    margin: 0 auto !important;
    display: flex;
  }

  div#modal #video-header #title {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }

  div#modal #video-header span {
    margin: 0 5px;
  }

  div#modal #video-header #buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
  }

  div#modal #video-header #buttons button {
    flex: 1;
    margin: 0;
    font-size: 1rem;
  }

  div#modal #video {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 10vh;
    bottom: 10vh;
  }

  div#modal #video #prev-video {
    position: absolute;
    left: 20%;
    bottom: 20px;
  }

  div#modal #video #next-video {
    position: absolute;
    right: 20%;
    bottom: 20px;
  }

  div#modal #video button {

    font-size: 50px;
  }



  div#modal #video .wrapper {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
  }

  /* End of @media */
}